html, body{
    margin: 0;
    padding: 0;
    width: 100%;
} 
 
body{
    font-family: Quicksand;
    background: #727272;
    display: block;
}
.container{
    width: 90%;
    margin: 4em auto;
    line-height: 20px;
    text-align: justify;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.hub{
    color: orange;
    font-style: italic;
}

nav{
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin-top: 0;
    transition: 1s;
}

nav.black ul{
    background: #000;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 1s;
}

nav ul li a:hover{
    color: orange;
}

.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.sign-up{
    float: right;
    margin-right: 60px;
    transition: 1s;
}

.sign-up li a:hover{
    color: orange;
}

.banner-heading{
    color: orange;
    position: absolute;
    top: 20%;
    left: 30px;
    font-size: 36px;
}

.banner-heading-title{
    color: white;
}

.banner-heading-button{
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    background: transparent;
    border: 1px solid orange;
    color: #fff;
}

.image{
    display: block;
}

.col{
    text-align: center;
}

.abt{
    text-align: center;
}

.column{
    float: left;
    
}

.row:after{
    content: none;
    display: table;
    clear: both;
}

.footer{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url(../images/foot.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: auto;
    padding: 10px;
    width: 100%;
}

#footer-cont{
    display: flex;
    justify-content: space-between;
}

.footer-cont-title{
    color: orange;
}

.footer-cont-subtitle{
    color: white;
}

.footer-logo{
    padding-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.fa-facebook{
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.fa-facebook:hover{
    background-color: orange;
    color: #3b5998;
}


.fa-instagram{
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.fa-instagram:hover{
    background-color: orange;
    color: #bc2a8d;
}

.fa-twitter{
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.fa-twitter:hover{
    background-color: orange;
    color: #00aced;
}

.fa-youtube{
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.fa-youtube:hover{
    background-color: orange;
    color: #bb0000;
}

.footer-hr{
    background-color: orange;
    height: 2px;
    border: none;
}

.copyright{
    text-align: center;
    color: #fff;
}

.images-container{
    display:flex;
    justify-content: space-between;
    padding: 0%;
    overflow-x: hidden;
    flex-direction: row;display: block;
    margin-left: auto;
    margin-right: auto;

}