/* =================================================
GENERAL
=================================================================*/

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: Quicksand;
    background: #727272;
}


.container{
    width: 90%;
    margin: 4em auto;
    line-height: 20px;
    text-align: justify;
}


/* =================================================
HEADER
=================================================================*/
.contact-banner{
    width: 100%;
    height: 100vh;
    background: url(../images/contact.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.hub{
    color: orange;
    font-style: italic;
}

nav{
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul{
    background: #000;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 1s;
}

nav ul li a:hover{
    color: orange;
}

.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.sign-up{
    float: right;
    margin-right: 60px;
    transition: 1s;
}

.sign-up li a:hover{
    color: orange;
}

.banner-heading{
    color: orange;
    position: absolute;
    top: 20%;
    left: 30px;
    font-size: 36px;
}

.banner-heading-title{
    color: white;
}

.banner-heading-button{
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    background: transparent;
    border: 1px solid orange;
    color: #fff;
}

/* =================================================
HOMEPAGE CONTENT
=================================================================*/
/* Who We Are */
.home-who-we-are{
    text-align: center;
    color: orange;
    font-size: 20px;
}

.home-who-we-are-content{
    display: flex;
    justify-content:space-between;
}

.home-who-we-are-paragraph{
    width: 55%;
    text-align: center;
    align-self: center;
    color: #fff;
}

/* Why Us */
.why-chose-title{
    text-align: center;
    color: orange;
    font-size: 20px;
    padding-top: 20px;
}

.why-chose-img{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.why-chose-img h2{
    color: white;
}

.why-chose-img p{
    color: gainsboro;
}

#img-01{
    background: orange;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 100px;
}

#img-001{
 padding-top: 10px;

}

/* Get Schedule */
.schedule-title > h2{
    color: orange;
    font-size: 20px;
}

.schedule-title > p{
    color: #fff;
}

.table{
    width: 100%;
}
th{
    background-color: orange;
    padding: 10px;
}
td{
    padding: 10px;
    background-color: #000;
    color: #fff;
}

#get-schedule{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

/* Book Appointment */
.book-appointment{
    background: #000;
    padding: 20px;
}

.book-appointment-title > h2{
    color: orange;
    text-align: center;
}

.book-appointment-title > p{
    color: white;
    text-align: center;
}

.btn-custom{
    padding: 10px;
    background: transparent;
    color: orange;
    outline: none;
    box-shadow: none;
    border: 1px solid orange;
    margin-top: 10px;
    margin-left: 45%;
    transition: 1s;
}

.btn-custom:hover{
    background: orange;
    color: #000;
}

/* =================================================
FOOTER
=================================================================*/
.footer{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url(../images/foot.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: auto;
    padding: 10px;
}

#footer-cont{
    display: flex;
    justify-content: space-between;
}

.footer-cont-title{
    color: orange;
}

.footer-cont-subtitle{
    color: white;
}

.footer-logo{
    padding-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.fa-facebook{
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.fa-facebook:hover{
    background-color: orange;
    color: #3b5998;
}


.fa-instagram{
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.fa-instagram:hover{
    background-color: orange;
    color: #bc2a8d;
}

.fa-twitter{
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.fa-twitter:hover{
    background-color: orange;
    color: #00aced;
}

.fa-youtube{
    color: orange;
    border: 1px solid orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    text-align: center;
    transition: .5s;
}

.fa-youtube:hover{
    background-color: orange;
    color: #bb0000;
}

.footer-hr{
    background-color: orange;
    height: 2px;
    border: none;
}

.copyright{
    text-align: center;
    color: #fff;
}

/* ============================================
CONTACT PAGE
=========================================================*/
.contact-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 20px;
}

.label-contact{
    padding: 10px;
    color: #fff;
}

.input-contact > input{
    width: 130%;
    padding: 10px;
    outline: none;
    box-shadow: none;
    box-sizing: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid orange;
    transition: 1s;
}
.input-contact > input::placeholder{
    color: white;
}

.input-contact > input:focus{
    color: #fff;
    font-size: 16px;
}

.input-contact > textarea{
    width: 130%;
    outline: none;
    box-shadow: none;
    box-sizing: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid orange;
    transition: 1s;
    
}

.input-contact > textarea::placeholder{
    color: white;
}

.input-contact > textarea:focus{
    color: #fff;
    font-size: 16px;
}

.contact-title-h2{
    color: orange;
}

.contact-info{
    color: #fff;
    font-size: 18px;
}

.g-map{
    width: 100%;
    height: 400px;
}



/* =================================================
MEDIA QUERY
=================================================================*/
@media(max-width: 580px){
    .logo{
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul{
        max-height: 0px;
        background: #000;
    }

    nav.black ul{
        background: #000;
    }

    .showing{
        max-height: 20em;
    }

    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .menu-icon{
        display: block;
    }

    .sign-up{
        margin-right: 45%;
    }

    .contact-body{
        display: block;
    }

    .input-contact > input{
        width: 90%;
    }
}

.map{
    height: 700px;
}

iframe{
    margin-top: 50px;
}
