html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    font-family: Quicksand;
}

header{
    width: 100%;
    height: 100vh;
    background: url(../images/h1_hero.png) no-repeat 50% 50%;
    background-size: cover;
}

.container{
    width: 90%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.hub{
    color: orange;
    font-style: italic;
}

nav{
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul{
    background: #000;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: 1s;
}

nav ul li a:hover{
    color: orange;
}

.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.sign-up{
    float: right;
    margin-right: 60px;
    transition: 1s;
}

.sign-up li a:hover{
    color: orange;
}

.banner-heading{
    color: orange;
    position: absolute;
    top: 20%;
    left: 30px;
    font-size: 36px;
}

.banner-heading-title{
    color: white;
}

.banner-heading-button{
    padding: 10px;
    border-radius: 10px;
    width: 20%;
    background: transparent;
    border: 1px solid orange;
    color: #fff;
}




/* =================================================
MEDIA QUERY
=================================================================*/
@media(max-width: 580px){
    .logo{
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul{
        max-height: 0px;
        background: #000;
    }

    nav.black ul{
        background: #000;
    }

    .showing{
        max-height: 20em;
    }

    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .menu-icon{
        display: block;
    }

    .sign-up{
        margin-right: 45%;
    }
}